<!-- subscribe_area part start-->
<section class="instagram_photo">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="instagram_photo_iner">
                        <div  *ngFor="let article of articles" class="single_instgram_photo">
                                <img src="{{article.image_url}}" alt="">
                                <a href="#"><i class="ti-instagram"></i></a> 
                                <h6>{{article.categorie}}</h6>
                                <h6>{{article.prix}}</h6>
                                <h6>{{article.desc}}</h6>
                            </div>
                    
                </div>
            </div>
        </div>
        
    </div>
</section>
<!--::subscribe_area part end::-->
