<div class="container">

    <div class="row">

      <div class="col-lg-3">
        <h1 class="my-4">BanaBana</h1>
        <div class="list-group">
          <span class="list-group-item active">Liste des articles de la catégorie {{ nomCat }}</span>
          <!-- <span class="list-group-item">Ajouter un article </span> -->

        </div>
      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-4 col-sm-6">
        <div class="">
            <div class="card" *ngFor="let item of resultats" style="max-height: 400px; min-height: 400px; max-width: 400px; min-width: 400px;">
              <img class="card-img-top" src="{{ item.image }}" alt="Card image cap" style="max-height: 200px; min-height: 200px;">
              <div class="card-body">
                <h5 class="card-title">{{ item.nom }}</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            
            
          </div>
        <!-- /.card -->

      </div>
      <!-- /.col-lg-9 -->

    </div>

  </div>
  <!-- /.container -->