<div class="container img-responsive"   >
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Se Connecter</h3>
				
			</div>
			<div style="color: orange; text-align: center;" *ngIf="erorCon">
				Login et ou mot de passe incorrecte !
		</div>
			<div class="card-body">
				<form [formGroup]="boxForm" (ngSubmit)="login()">
					<div class="input-group form-group">
                            
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="nom utilisateur" formControlName="username">
						
                    </div>
                    <div style="color: orange;" *ngIf="isSubmitted && f.username.errors">
                        Le nom d'utilisateur est réquis !
                      </div>
                      
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" class="form-control" placeholder="mot de passe" formControlName="passeword">
                    </div>
                    <div style="color: orange;" *ngIf="isSubmitted && f.passeword.errors">
                        Le champ mot de passe est réquis !
                    </div>
					<div class="row align-items-center remember">
						<input type="checkbox"> Se rappeler de moi
						<app-spinner *ngIf="onLoad"></app-spinner>
					</div>
					<div class="form-group">
						<input type="submit" value="Login " class="btn float-right login_btn">
					</div>
				</form>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
					<button type="button" class="btn btn-default" data-toggle="modal" data-target="#modalSignUp">
						S'inscrire
					  </button>
				</div>
				<div class="d-flex justify-content-center">
					<button type="button" class="btn btn-default" data-toggle="modal" data-target="#modalSignUp">
						Mot de passe oublié
					  </button>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="modalSignUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLongTitle">Inscription</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
		  <p>Veuillez contacter l'administrateur</p>
		  <p>Numéro :  771904226</p>
		</div>
		<div class="modal-footer">
		  <button type="button" style="background-color: #fb9337;" class="btn " data-dismiss="modal">Ok</button>
		</div>
	  </div>
	</div>
  </div>