<div class="container">

    <div class="row">

      <div class="col-md-3">
        <h1 class="my-4">BanaBana</h1>
        <div class="list-group">
          <a routerLinkActive="active" routerLink="/liste-de-mes-articles" class="list-group-item">Liste des articles</a>
          <a routerLinkActive="active" routerLink="/ajoutArticle" class="list-group-item ">Ajouter un article</a>

        </div>
      </div>
 <!--
     <div class="col-md-9">
       
        <div class="row">
          <div *ngFor="let item of articles" class="col-lg-4 col-sm-8 col-md-6">
           <div class="col-md-10">
             <img *ngIf="item.image"  style="max-height: 200px; min-height: 200px; max-width: 250px; min-width: 250px;" src="{{ item.image }}" alt="">
             <div class="card-body">
                <h5 class="card-title">{{ item.nom }}</h5>
                <p class="card-text">{{item.desc}}.</p>
                <p class="card-text"><small class="text-muted">ajouté le {{ item.created_by }}</small></p>
                <p><small class="btn btn-primary">Edit</small><small class="btn btn-danger">Supp</small></p>
            </div>
              
           </div>
          </div>
        </div>
     </div> -->

     <div class="col-md-9">
        <h1 class="my-4">La liste de mes articles</h1>
      <div class="list-group">
        <div class="list-group-item" *ngFor="let article of articles">
          
          <div class="row">
            <div class="col-md-4">
                <img [src]="article.image" class="img-thumbnail img-responsive" style="max-width: 100%; max-height: 100%; width:200px; height: 150px;">
            </div>
            <div class="col-md-8 col-xs-12" >
                <button class="btn btn-xs btn-danger pull-right"><span class="glyphicon glyphicon-remove ti-trash" data-toggle="modal" data-target="#myModal"></span></button> &nbsp; &nbsp;
                <button class="btn btn-xs btn-success pull-right"><span class="glyphicon glyphicon-pencil ti-pencil"></span></button>
                <h4 class="list-group-item-heading" > {{ article.nom }}, <small> Elevage </small> </h4>
               
                <p class="list-group-item-text" style="color:#FB9337" >  {{ article.prix }} Fcfa</p>
                <p class="list-group-item-text"> {{ article.desc }} </p>
                <p class="list-group-item-text" > Ajouté depuis :  {{ article.created_at | date }} </p>
                <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
            
                        <!-- Modal content-->
                        <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title"></h4>
                        </div>
                        
                        <div class="modal-body">
                            <p>Êtes-vous sûr de vouloir supprimer le produit?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Oui</button>
                        </div>
                        </div>
            
                    </div>
                    </div>
              </div>

            
          </div>

         
         
          
        </div>
       
      </div>
 
     </div>
      <!-- /.col-lg-3 -->
      <!--      <div class="col-lg-9">
        <div class="card-group">
            <div class="card" *ngFor="let item of articles">
                <img class="card-img-top" src="{{ item.image }}" alt="Card image cap" style="max-height: 200px; min-height: 200px;">
                <hr style="padding: 0px; margin: 0px; ">
                <div class="card-body">
                  <h5 class="card-title">{{ item.nom }}</h5>
                  <p class="card-text">{{item.desc}}.</p>
                  <p class="card-text"><small class="text-muted">ajouté le {{ item.created_by }}</small></p>
                </div>
              </div>
           
          </div>

      </div>
    -->

      <!-- /.col-lg-9 -->

    </div>

  </div>
  <!-- /.container -->